/*
 * This CSS was originally taken from
 * http://wayland.freedesktop.org/wayland.css.
 */

body {
  padding: 0px 150px;
}

h1 {
  margin: 40px 0px;
  color: #aaa;
}

h1 img {
  vertical-align: middle;
  border-width: 0px;
}

h2 {
  font-family: sans;
  color: #666;
}

h3 {
  font-family: sans;
  color: #156;
  font-style: none;
}

p {
  margin: 20px 0px;
}

li {
  margin: 10px 0px;
}

a {
  color: #444;
}

a:hover {
  color: #666;
}

a:visited {
  color: #444;
}

/* Code */

pre.code {
  font-family: monospace;
  color: #000000;
  background-color: #ffffff;
}

.Statement {
  color: #aa00aa;
}

.Type {
  color: #00bb00;
}

.Constant {
  color: #bb0000;
}

.PreProc {
  color: #aa00aa;
}

.Comment {
  color: #4040bb;
}

/*
 * vim:et:sw=2:ts=2:
 */
